<header>
    <!-- Icon Section Start -->
    <div class="icon-section">
        <div class="container">
            <ul class="list-inline">
                <li>
                    <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-rss" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="pull-right">
                    <ul class="list-inline icon-position">
                        <li>
                            <a href="mailto:">
                                <i class="material-icons">email</i>
                            </a>
                            <label class="hidden-xs"><a href="mailto:" class="text-white">info@joshadmin.com</a></label>
                        </li>
                        <li>
                            <a href="tel:">
                                <i class="material-icons">local_phone</i>
                            </a>
                            <label class="hidden-xs"><a href="tel:" class="text-white">(703) 717-4200</a></label>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- //Icon Section End -->
    <!-- Nav bar Start -->
    <nav class="navbar navbar-default container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
                    <span><a href="#">
                            <i class="material-icons large">menu</i>

                    </a></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <!--img src="assets/images/logo.png" alt="logo" class="logo_position"-->
                Logo app
            </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="{{ active is defined  and  active =='Home' ? 'active' : ''}}"><a href="{{ path('index') }}"> Home</a>
                </li>
                <li class="dropdown {{ active is defined  and  active =='Articles' ? 'active' : ''}}"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('index') }}">List Article</a>
                        </li>
                        <li>
                            <a href="{{ path('article.new') }}">New Article</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Mouvement Stocks</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('transation.entre') }}">Entres stock</a></li>
                        <li><a href="timeline.html">Sortie Stock</a></li>
                        <li><a href="price.html">Liste des Transactions</a></li>
                    </ul>
                </li>
                <li class="dropdown "><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Shop</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="products.html">Products</a>
                        </li>
                        <li><a href="single_product.html">Single Product</a>
                        </li>
                        <li><a href="compareproducts.html">Compare Products</a>
                        </li>
                        <li><a href="category.html">Categories</a></li>
                    </ul>
                </li>
                <li class="dropdown "><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Portfolio</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="portfolio.html">Portfolio</a>
                        </li>
                        <li><a href="portfolioitem.html">Portfolio Item</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown "><a href="#" class="dropdown-toggle" data-toggle="dropdown"> News</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="news.html">News</a>
                        </li>
                        <li><a href="news_item.html">News Item</a>
                        </li>
                    </ul>
                </li>
                <li ><a href="blog.html"> Blog</a>
                </li>
                <li ><a href="contact.html">Contact</a>
                </li>

                <li><a href="login.html">Login</a>
                </li>
                <li><a href="register.html">Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Nav bar End -->
</header>